<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @outcome.title %>
</p>

<p>
  <b>Description:</b>
  <%= @outcome.description %>
</p>
  
<div class="row">
	<div class="span12">
	   <%= link_to 'Edit', edit_outcome_path(@outcome) %> |
	   <%= link_to 'Back to Admin', '/admin', :class => 'btn btn-small btn-primary' %>
	</div>
</div>
